fastapi==0.141.1
joblib==1.6.0
jupyter==1.1.1
lightgbm==4.7.0
matplotlib==3.11.2
mlflow==3.16.0
numpy==2.5.3
pandas==3.0.5
pydantic==2.13.5
pytest==9.1.1
python-dotenv==1.2.3
scikit-learn==1.9.1
seaborn==0.13.2
uvicorn==0.52.4
xgboost==3.4.1
